# coulmn transfer

In [3]:
import pandas as pd
import numpy as np

from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder

from sklearn.preprocessing import OrdinalEncoder

In [4]:
df = pd.read_csv("covid_toy.csv")

In [5]:
df

    age  gender  fever   cough       city has_covid
0    60    Male  103.0    Mild    Kolkata        No
1    27    Male  100.0    Mild      Delhi       Yes
2    42    Male  101.0    Mild      Delhi        No
3    31  Female   98.0    Mild    Kolkata        No
4    65  Female  101.0    Mild     Mumbai        No
..  ...     ...    ...     ...        ...       ...
95   12  Female  104.0    Mild  Bangalore        No
96   51  Female  101.0  Strong    Kolkata       Yes
97   20  Female  101.0    Mild  Bangalore        No
98    5  Female   98.0  Strong     Mumbai        No
99   10  Female   98.0  Strong    Kolkata       Yes

[100 rows x 6 columns]

In [6]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [7]:
from sklearn.model_selection import train_test_split

x_train , x_test , y_train , y_test = train_test_split(df.drop(
    columns = ['has_covid']) , df['has_covid'] , test_size = 0.2)

In [8]:
x_train

    age  gender  fever   cough       city
18   64  Female   98.0    Mild  Bangalore
37   55    Male  100.0    Mild    Kolkata
69   73  Female  103.0    Mild      Delhi
40   49  Female  102.0    Mild      Delhi
86   25    Male  104.0    Mild  Bangalore
..  ...     ...    ...     ...        ...
96   51  Female  101.0  Strong    Kolkata
51   11  Female  100.0  Strong    Kolkata
46   19  Female  101.0    Mild     Mumbai
29   34  Female    NaN  Strong     Mumbai
80   14  Female   99.0    Mild     Mumbai

[80 rows x 5 columns]

# Manually type output

In [9]:
# adding simple imputer to fever colum
si = SimpleImputer(strategy = "mean")
x_train_fever = si.fit_transform(x_train[['fever']])

# also the test data

x_test_fever = si.fit_transform(x_test[['fever']])

x_train_fever.shape

(80, 1)

In [10]:
# ordinal encoding -->

oe = OrdinalEncoder(categories = [['Mild' , 'Strong']])
x_train_cough = oe.fit_transform(x_train[['cough']])

x_test_cough = oe.fit_transform(x_test[['cough']])

x_train_cough.shape

(80, 1)

In [11]:
#onehot encoding --> gender , city

ohe = OneHotEncoder(drop = 'first' , sparse_output = False)
x_train_gender_city = ohe.fit_transform(x_train[['gender','city']])

# also the test data
x_test_gender_city = ohe.fit_transform(x_test[['gender', 'city']])

x_train_gender_city.shape

(80, 4)

In [12]:
# extracting Age

x_train_age = x_train.drop(columns=
                           ['gender' , 'fever' , 'cough' , 'city']).values

# also the test data

x_test_age = x_test.drop(columns =
                          ['gender' , 'fever' , 'cough' , 'city']).values

In [13]:
x_train_age.shape

(80, 1)

In [14]:
x_train_transformed = np.concatenate((x_train_age , x_train_fever ,
                                      x_train_gender_city ,
                                      x_train_cough) , axis =1)

In [15]:
# x_test_transformed = np.concatenate(( x_test_age , x_test_fever , x_test_gender_city . x_test_cough) , axis =1)

In [16]:
x_train_transformed.shape

(80, 7)

# by the help of column Transformer

In [17]:
from sklearn.compose import ColumnTransformer

transformer = ColumnTransformer(transformers=[
    ('tnf1' , SimpleImputer() , ['fever']),

    ('tnf2' , OrdinalEncoder(categories = [['Mild' , 'Strong']]) , ['cough']) , #by

# thois process 
# we encpde our data
    ('tnf3' , OneHotEncoder(sparse_output=False, drop='first') , ['gender' , 'city'])
], remainder = 'passthrough')

In [18]:
transformer.fit_transform(x_train).shape

(80, 7)

In [19]:
transformer.transform(x_test).shape

(20, 7)

In [26]:
df = pd.read_csv("tips.csv")
df.head(3)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3

In [27]:
df.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [28]:
from sklearn.model_selection import train_test_split

x_train , x_test , y_train , y_test = train_test_split(df.drop(
    columns = ['time']) , df['time'] , test_size = 0.2)

In [29]:
x_train

     total_bill   tip     sex smoker   day  size
80        19.44  3.00    Male    Yes  Thur     2
83        32.68  5.00    Male    Yes  Thur     2
138       16.00  2.00    Male    Yes  Thur     2
140       17.47  3.50  Female     No  Thur     2
208       24.27  2.03    Male    Yes   Sat     2
..          ...   ...     ...    ...   ...   ...
28        21.70  4.30    Male     No   Sat     2
31        18.35  2.50    Male     No   Sat     4
161       12.66  2.50    Male     No   Sun     2
96        27.28  4.00    Male    Yes   Fri     2
109       14.31  4.00  Female    Yes   Sat     2

[195 rows x 6 columns]

In [30]:
#OneHotEncoding
ohe = OneHotEncoder(drop = 'first' , sparse_output = False)
x_train_gender_city = ohe.fit_transform(x_train[['smoker','day']])

# also the test data
x_test_gender_city = ohe.fit_transform(x_test[['smoker', 'day']])

x_train_gender_city.shape

(195, 4)

In [33]:
# extracting total bill

x_train_total_bill = x_train.drop(columns=
                           ['tip' , 'sex' , 'smoker' , 'day' , 'size']).values

# also the test data

x_test_total_bill = x_test.drop(columns =
                           ['tip' , 'sex' , 'smoker' , 'day' , 'size']).values

In [34]:
x_train_total_bill.shape

(195, 1)

In [ ]:
x_train_transformed = np.concatenate((x_train_age , x_train_fever ,
                                      x_train_gender_city ,
                                      x_train_cough) , axis =1)