In [1]:
# Data ----> Independent(x) , dependent(y)

# x ----> x_train , x_test
# y ----> y_train , y_test

#In training -----> we will trained our modal from input to target data realtion
#In testing ----> we will check our modelthat our model is perfectly working or not.

In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("C:\\Users\\ktail\\Downloads\\placement.csv")

In [4]:
df.head()

   cgpa  resume_score  placed
0  8.14          6.52       1
1  6.17          5.17       0
2  8.27          8.86       1
3  6.88          7.27       1
4  7.52          7.30       1

In [5]:
#!pip install scikit-learn

In [6]:
df.shape

(100, 3)

In [7]:
x = df.drop(columns = ['placed']) ###input data
y = df['placed'] #### target data

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [10]:
print("Total data shape:" , df.shape)
print("-----------------------")
print("-----------------------")

print("Input data shaoe" , x.shape)
print("Input data shape" , x_train.shape)
print("Input data shaoe" , x_test.shape)
print("----------------------------")
print("----------------------------")
print("target data shape" , y.shape)
print("target data shape" , y_train.shape)
print("target data shape" , y_test.shape)

Total data shape: (100, 3)
-----------------------
-----------------------
Input data shaoe (100, 2)
Input data shape (80, 2)
Input data shaoe (20, 2)
----------------------------
----------------------------
target data shape (100,)
target data shape (80,)
target data shape (20,)

In [12]:
# df(100,3) = x(100,2) + y(100,1)
# x(100,2) = x_train(80,2) + x_test(20,2) 
# y(100,1) = y_train(80,1) + y_test(20,1)

In [14]:
x_train

    cgpa  resume_score
55  6.94          6.87
88  8.07          6.07
26  6.27          6.47
42  6.90          6.91
69  8.06          9.06
..   ...           ...
60  5.87          6.64
71  7.34          8.22
14  7.51          6.25
92  5.43          6.18
51  6.54          7.39

[80 rows x 2 columns]

# covid data

In [15]:
df = pd.read_csv('covid_toy.csv')

In [16]:
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [17]:
df['gender'].value_counts()

gender
Female    59
Male      41
Name: count, dtype: int64

In [18]:
df['cough'].value_counts()

cough
Mild      62
Strong    38
Name: count, dtype: int64

In [33]:
df['city'].value_counts()

city
Kolkata      32
Bangalore    30
Delhi        22
Mumbai       16
Name: count, dtype: int64

In [19]:
df['has_covid'].value_counts()

has_covid
No     55
Yes    45
Name: count, dtype: int64

In [20]:
df['gender'] = df['gender'].map({"Female":0 , "Male":1})

In [21]:
df['cough'] = df['cough'].map({"Mild":0 , "Strong":1})

In [22]:
df.sample(4)

    age  gender  fever  cough       city has_covid
59    6       0  104.0      0    Kolkata       Yes
52   47       0  100.0      1  Bangalore       Yes
53   83       1   98.0      0      Delhi       Yes
20   12       1   98.0      1  Bangalore        No

In [34]:
x = df.drop(columns = ['has_covid'])
y = df['has_covid']

In [36]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size = 0.2 , random_state = 42)

In [37]:
print("Total data shape:" , df.shape)
print("--------------------------------")
print("--------------------------------")

print("Input data shape:" , x.shape)
print("Input data shape:" , x_train.shape)
print("Input data shape:" , x_test.shape)
print("--------------------------------")
print("--------------------------------")
print("Target data shape:" , y.shape)
print("Target data shape:" , y_train.shape)
print("Target data shape:" , y_test.shape)

Total data shape: (100, 6)
--------------------------------
--------------------------------
Input data shape: (100, 5)
Input data shape: (80, 5)
Input data shape: (20, 5)
--------------------------------
--------------------------------
Target data shape: (100,)
Target data shape: (80,)
Target data shape: (20,)

In [38]:
# df(100,6) = x(100,5) + y(100,1) 
# x(100,5) = x_train(80,5) + x_test(20,5) 
# y(100,1) = y_train(80,1) + y_test(20,1)

In [39]:
df = pd.read_csv("C:\\Users\\ktail\\Downloads\\covid_toy.csv")

In [40]:
df.head(1)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No

In [27]:
# df.isnull().sum()

In [28]:
# using SimpleImputer() , we will fill missing data
# if data is:
# Numericla ----> fill mean
# catogorical ----> fill most_frequent_value

In [29]:
from sklearn.impute import SimpleImputer

In [30]:
si = SimpleImputer()

In [31]:
df['fever'] = si.fit_transform(df[['fever']]) ##fit means learn the parametrs and transfrom means
# aply on that data

In [32]:
df.isnull().sum()

age          0
gender       0
fever        0
cough        0
city         0
has_covid    0
dtype: int64

In [41]:
df.shape

(100, 6)