In [1]:
# data deviadation
# df ==> x+y
#x => x_train , x_test
# y=> y_train , y_test

In [1]:
import numpy as np
import pandas as pd

In [20]:
df = pd.read_csv("C:\\Users\\ktail\\Downloads\\placement.csv")

In [21]:
df.head()

   cgpa  resume_score  placed
0  8.14          6.52       1
1  6.17          5.17       0
2  8.27          8.86       1
3  6.88          7.27       1
4  7.52          7.30       1

In [22]:
x = df.drop(columns = ['placed']) ### input data
#x

In [23]:
y = df['placed'] ### target data
#y

In [24]:
from sklearn.model_selection import train_test_split
## from sklearn.model_selection import train_test_split=>> its use to divde the data

In [25]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.2,random_state=42)
#random state==> its work is random index to selctod sampling and lock or fix it.
#test size 0.2 ==> its means we have divde data 80 and 20 means 80% traning size 20% testing size

In [26]:
np.round(x_train.describe(), 2) #ye numpy ka round method ka use ouput aata uski point me kitne number value rakhni ho uske liye use karte hai

        cgpa  resume_score
count  80.00         80.00
mean    6.95          7.00
std     1.13          1.01
min     5.27          4.95
25%     6.00          6.28
50%     6.62          7.15
75%     8.06          7.69
max     9.31          9.06

In [27]:
# mean ---> avarage

#normal distibution --> central tendancy (mean , median --> left and right side equal data points.
#stabdard deviation ---> Next value gap from central tendancy

In [28]:
from sklearn.preprocessing import StandardScaler #<<=its is use for convert normal distribution

In [29]:
sc = StandardScaler()

In [30]:
x_train_sc = sc.fit_transform(x_train) #### fit means learn the parameter and transform means apply on that data

In [31]:
np.round(x_train_sc.describe() ,2)

AttributeError: 'numpy.ndarray' object has no attribute 'describe'

In [32]:
type(x_train_sc)

numpy.ndarray

In [33]:
x_train_new = pd.DataFrame(x_train_sc , columns = x_train.columns)
type(x_train_new)

pandas.core.frame.DataFrame

In [34]:
np.round(x_train_new.describe() , 2)

        cgpa  resume_score
count  80.00         80.00
mean   -0.00         -0.00
std     1.01          1.01
min    -1.50         -2.04
25%    -0.85         -0.72
50%    -0.29          0.15
75%     0.99          0.69
max     2.11          2.05

# data2

In [35]:
df = pd.read_csv("covid_toy.csv")

In [36]:
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [37]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [38]:
from sklearn.impute import SimpleImputer ### it is used for filling missing data

In [39]:
si = SimpleImputer()

In [40]:
df['fever'] = si.fit_transform(df[['fever']])

In [41]:
df.isnull().sum()

age          0
gender       0
fever        0
cough        0
city         0
has_covid    0
dtype: int64

In [42]:
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [43]:
df['has_covid'].value_counts()

has_covid
No     55
Yes    45
Name: count, dtype: int64

In [44]:
df['gender'] = df['gender'].map({"Male":0 , "Female":1})
df['cough'] = df['cough'].map({"Mild":0 , "Strong":1}) 
df['city'] = df['city'].map({"Kolkata":0 , "Bangalore":1 , "Delhi":2 , "Mumbai":3}) 
df['has_covid'] = df['has_covid'].map({'Yes':0 , 'No':1})

In [45]:
df.head(3)

   age  gender  fever  cough  city  has_covid
0   60       0  103.0      0     0          1
1   27       0  100.0      0     2          0
2   42       0  101.0      0     2          1

In [46]:
x = df.drop(columns = ['has_covid']) ### input data
y = df['has_covid'] ### target data

In [47]:
from sklearn.model_selection import train_test_split

In [48]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size = 0.2 , random_state = 42)

In [49]:
np.round(x_train.describe(), 2)

         age  gender   fever  cough   city
count  80.00   80.00   80.00  80.00  80.00
mean   42.91    0.59  100.98   0.40   1.26
std    24.47    0.50    1.93   0.49   1.06
min     5.00    0.00   98.00   0.00   0.00
25%    20.00    0.00  100.00   0.00   0.00
50%    42.00    1.00  101.00   0.00   1.00
75%    65.00    1.00  102.00   1.00   2.00
max    84.00    1.00  104.00   1.00   3.00

In [50]:
from sklearn.preprocessing import StandardScaler

In [51]:
sc = StandardScaler()

In [52]:
x_train_sc = sc.fit_transform(x_train)

In [53]:
x_train_new = pd.DataFrame(x_train_sc , columns = x_train.columns)

In [54]:
np.round(x_train_new.describe(), 2)

         age  gender  fever  cough   city
count  80.00   80.00  80.00  80.00  80.00
mean   -0.00   -0.00  -0.00  -0.00   0.00
std     1.01    1.01   1.01   1.01   1.01
min    -1.56   -1.19  -1.56  -0.82  -1.19
25%    -0.94   -1.19  -0.51  -0.82  -1.19
50%    -0.04    0.84   0.01  -0.82  -0.25
75%     0.91    0.84   0.53   1.22   0.70
max     1.69    0.84   1.57   1.22   1.64

# Data3

In [3]:
df = pd.read_csv("tips.csv")

In [4]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [5]:
df.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [6]:
df['time'].value_counts()

time
Dinner    176
Lunch      68
Name: count, dtype: int64

In [7]:
df['sex'] = df['sex'].map({"Male":0 , "Female":1})
df['smoker'] = df['smoker'].map({"Yes":0 , "No":1}) 
df['day'] = df['day'].map({"sat":0 , "Sun":1 , "Thur":2 , "Fri":3}) 
df['time'] = df['time'].map({'Dinner':0 , 'Lunch':1})

In [8]:
x = df.drop(columns = ['total_bill']) ### input data
y = df['total_bill'] ### target data

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size = 0.2 , random_state = 42)

In [11]:
np.round(x_train.describe(), 2)

          tip     sex  smoker     day    time    size
count  195.00  195.00  195.00  125.00  195.00  195.00
mean     3.09    0.35    0.62    1.65    0.27    2.57
std      1.43    0.48    0.49    0.71    0.45    0.94
min      1.00    0.00    0.00    1.00    0.00    1.00
25%      2.00    0.00    0.00    1.00    0.00    2.00
50%      3.00    0.00    1.00    2.00    0.00    2.00
75%      3.70    1.00    1.00    2.00    1.00    3.00
max     10.00    1.00    1.00    3.00    1.00    6.00

In [15]:
from sklearn.preprocessing import StandardScaler

In [16]:
sc = StandardScaler()

In [17]:
x_train_sc = sc.fit_transform(x_train)

In [18]:
x_train_new = pd.DataFrame(x_train_sc , columns = x_train.columns)

In [19]:
np.round(x_train_new.describe(), 2)

          tip     sex  smoker     day    time    size
count  195.00  195.00  195.00  125.00  195.00  195.00
mean    -0.00    0.00   -0.00    0.00    0.00   -0.00
std      1.00    1.00    1.00    1.00    1.00    1.00
min     -1.46   -0.73   -1.26   -0.92   -0.61   -1.68
25%     -0.76   -0.73   -1.26   -0.92   -0.61   -0.61
50%     -0.06   -0.73    0.79    0.50   -0.61   -0.61
75%      0.43    1.37    0.79    0.50    1.64    0.45
max      4.85    1.37    0.79    1.91    1.64    3.65

# normalization ---> min_value =0 , max_value= 1

In [55]:
# palystore ---> app --> downlaods 2.3m , app---> downlaod 23k , app ---> downlaod 400

#MinMaxScaler ka use islye karte hai jab data ke andar varition jyda ho to time hum MinMaxScaler ka use karte hai jo data ko ek scaler from me leke ayega 
#jisme min value sabi data ki=0 and maxium value sabi data ki=1

In [2]:
df = pd.read_csv("placement.csv")

In [3]:
df.head(1)

   cgpa  resume_score  placed
0  8.14          6.52       1

In [4]:
x = df.drop(columns = ['placed'])
y = df['placed']

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
x_train , x_test,y_train , y_test = train_test_split(x,y,test_size=0.2,random_state=42)

np.round(x_train.describe() ,2)

In [8]:
from sklearn.preprocessing import MinMaxScaler

In [9]:
mn = MinMaxScaler()

In [10]:
x_train_mn = mn.fit_transform(x_train)

In [11]:
x_train_new = pd.DataFrame(x_train_mn , columns = x_train.columns)

In [12]:
np.round(x_train_new.describe() ,2)

        cgpa  resume_score
count  80.00         80.00
mean    0.42          0.50
std     0.28          0.25
min     0.00          0.00
25%     0.18          0.32
50%     0.33          0.54
75%     0.69          0.67
max     1.00          1.00