In [1]:
# cca -> complete cas analysis
# df --> missinf data --> filter missing data -->
# new df = filtered_columns_in_which_have_missing_data

# new_df = missing_data_group

# architecture --. histogram -->
# padst colum in which we have no missing data
# updated colum in which we have no missigng data

# if past data also architucture is overlap to new data architucture --> it means we can drop missing 
# data

# if past data architucture is not overlap to new data architucture --> it means we can not drop
# missing data

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("dsjob.csv")

In [3]:
df.isnull().mean()*100

enrollee_id                0.000000
city                       0.000000
city_development_index     0.000000
gender                    23.860968
relevent_experience        0.000000
enrolled_university        1.456083
education_level            2.442461
major_discipline          14.654767
experience                 0.234852
company_size              29.215594
company_type              29.779239
last_new_job               1.878816
training_hours             0.000000
dtype: float64

In [4]:
cols=[var for var in df.columns if df[var].isnull().mean()<0.05 and df[var].isnull().mean()>0]
cols

['enrolled_university', 'education_level', 'experience', 'last_new_job']

In [5]:
df[cols].sample(5)

     enrolled_university education_level experience last_new_job
1598       no_enrollment         Masters         11           >4
652     Full time course     High School         <1        never
1010       no_enrollment     High School          2        never
495        no_enrollment        Graduate          8            2
1272       no_enrollment        Graduate         11            2

In [6]:
df['education_level'].value_counts()

education_level
Graduate          1269
Masters            496
High School        222
Phd                 54
Primary School      36
Name: count, dtype: int64

In [7]:
len(df[cols].dropna()) / len(df)

0.9478628464067638

In [8]:
new_df = df[cols].dropna()
df.shape, new_df.shape

((2129, 13), (2018, 4))

In [9]:
import matplotlib.pyplot as plt

In [11]:
fig=  plt.figure()

In [ ]:
fig = plt.figure()
ax = fig.add.subplot(111)

#orginal data
df['experience'].hist(bins=50, ax=ax, density=true, color='red')

# data after cca, the argument alpha makes the color transport, sowe can 
# see the overlay 
new_df['experience'].hist(bins=50, ax=ax, color='green', density=true, alpha=0.8)

In [12]:
temp = pd.concat([
    # percentage of observations per category, original data
    df['enrolled_university'].value_counts() / len(df),

    # percentage of observations per category, cca data
    new_df['enrolled_university'].value_counts() / len(new_df)
], axis=1)

# add column names
temp.columns = ['original', 'cca']

temp

                     original       cca
enrolled_university
no_enrollment        0.713481  0.727948
Full time course     0.204321  0.202180
Part time course     0.067637  0.069871