In [5]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv("insurance.csv")
df.head(3)

   age     sex    bmi  children smoker     region     charges
0   19  female  27.90         0    yes  southwest  16884.9240
1   18    male  33.77         1     no  southeast   1725.5523
2   28    male  33.00         3     no  southeast   4449.4620

In [7]:
# df.isnull().sum()

In [8]:
from sklearn.preprocessing import LabelEncoder

In [9]:
lb = LabelEncoder()

In [10]:
df['sex'] = lb.fit_transform(df['sex'])
df['smoker'] = lb.fit_transform(df['smoker'])
df['region'] = lb.fit_transform(df['region'])

In [11]:
x = df.drop(columns = ['charges'])
y = df['charges']

In [12]:
df.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       3  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       1  21984.47061
4   32    1  28.880         0       0       1   3866.85520

# column transformer

In [3]:
import pandas as pd
import numpy as np

from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder

from sklearn.preprocessing import OrdinalEncoder

In [4]:
df = pd.read_csv("tips.csv")

In [15]:
#df

In [6]:
# df.isnull().sum()

In [7]:
from sklearn.model_selection import train_test_split

x_train , x_test , y_train , y_test = train_test_split(df.drop(
    columns = ['size']) , df['size'] , test_size = 0.2)

In [8]:
x_train

     total_bill   tip     sex smoker   day    time
218        7.74  1.44    Male    Yes   Sat  Dinner
101       15.38  3.00  Female    Yes   Fri  Dinner
16        10.33  1.67  Female     No   Sun  Dinner
169       10.63  2.00  Female    Yes   Sat  Dinner
133       12.26  2.00  Female     No  Thur   Lunch
..          ...   ...     ...    ...   ...     ...
203       16.40  2.50  Female    Yes  Thur   Lunch
242       17.82  1.75    Male     No   Sat  Dinner
225       16.27  2.50  Female    Yes   Fri   Lunch
165       24.52  3.48    Male     No   Sun  Dinner
185       20.69  5.00    Male     No   Sun  Dinner

[195 rows x 6 columns]

In [9]:
# ordinal encoding -->

oe = OrdinalEncoder(categories = [['No' , 'Yes']])
x_train_cough = oe.fit_transform(x_train[['smoker']])

x_test_cough = oe.fit_transform(x_test[['smoker']])

x_train_cough.shape

(195, 1)

In [10]:
#onehot encoding --> sex, day , time

ohe = OneHotEncoder(drop = 'first' , sparse_output = False)
x_train_gender_city = ohe.fit_transform(x_train[['sex','day','time']])

# also the test data
x_test_gender_city = ohe.fit_transform(x_test[['sex', 'day','time']])

x_train_gender_city.shape

(195, 5)

In [11]:
# df

In [12]:
# extracting total bill

x_train_total_bill = x_train.drop(columns=
                           ['tip', 'sex' , 'smoker' , 'day','time']).values

# also the test data

x_test_total_bill= x_test.drop(columns =
                          ['tip', 'sex' , 'smoker' , 'day','time']).values

In [13]:
x_train_total_bill.shape

(195, 1)

In [19]:
x_train_transformed = np.concatenate((
    x_train_total_bill,    # shape (195,1)
    x_train_gender_city,   # shape (195,5)
    x_train_cough          # shape (195,1)
), axis=1)

In [20]:
x_train_transformed.shape

(195, 7)

# by the help of column tranformer

In [22]:
from sklearn.compose import ColumnTransformer

transformer = ColumnTransformer(transformers=[

    ('tnf1' , OrdinalEncoder(categories = [['No' , 'Yes']]) , ['smoker']) , #by

# this process 
# we encode our data
    ('tnf2' , OneHotEncoder(sparse_output=False, drop='first') , ['sex' , 'day','time'])
], remainder = 'passthrough')

In [23]:
transformer.fit_transform(x_train).shape

(195, 8)

In [24]:
transformer.transform(x_test).shape

(49, 8)